<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryption App</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    
</head>
<body>
    <h1>Encrypt and Decrypt Messages</h1>
    <div>
        <label for="open_menu_button" style="font-size: 50px;color: aliceblue; margin-left: 10px;">☰</label>
        <input type="button" onclick="menu_open()" class="sidebar-item" id="open_menu_button" style="display: none;"></button>
    </div>
    <div id="sidebar" class="w3-sidebar">
        <button onclick="menu_close()" class="sidebar-item">Close &times;</button>
        <label id="Encryption_button_label" for="Encryption_button" class="sidebar-item" style="background-color: #13314c;color: #ffffff;">Encryption</label>
        <input type="radio" id="Encryption_button" onclick="show_encryption()" style="display: none;">
        <label id="Decryption_button_label" for="Decryption_button" class="sidebar-item">Decryption</label>
        <input type="radio" id="Decryption_button" onclick="show_decryption()" style="display: none;">
        <div style="margin: 30px;"></div>
        <label for="setting">Setting </label>
        <input type="radio" id="setting" onclick="setting_page_open()" style="display: none;">
        <div style="margin: 30px;"></div>
        <label for="logout">Log out</label>
        <input type="radio" id="logout" onclick="logout()" style="display: none;">
    </div>
    
    <div id="content-wrapper" >
        <div id="encryption" class="Processor">
            <h2>Encrypt</h2>
            <div id="content_central">
                <div id="input_switch" class="switch-toggle">
                    <input id="Text_switch" name="state-d" onclick="disable_Input('plain_text_message_file')" type="radio" />
                    <label for="Text_switch" >Text</label>
                
                    <input id="Message_switch" name="state-d" type="radio"  onclick="disable_Input('message')" checked />
                    <label for="Message_switch" >Message</label>
                
                    <input id="Image_switch" name="state-d" type="radio" onclick="disable_Input('image_file')"/>
                    <label for="Image_switch" >Image</label>
                </div>
            </div>
            <div class="InOutPut">
                <div class="file-input-group">
                    <label for="plain_text_message_file" class="File_upload" id="plain_text_message_file_label">Upload Text(.txt) file</label>
                    <input type="file" id="plain_text_message_file" placeholder="Upload message" accept=".txt"><br>
                </div>
                <div class="file-input-group">
                    <label for="image_file" class="File_upload" id="image_file_label">Upload image file</label>
                    <input type="file" id="image_file" placeholder="Upload image" accept="/image"><br>
                </div>
                <textarea class="text_input" id="message" placeholder="Enter your message"></textarea><br>
                <input  type="password" class="text_input" id="password_to_encrypte" placeholder="Enter the password"><br>
                <button onclick="encryptMessage()">Encrypt</button>
            </div>
            <p id="Processing_display" style="display: none;"></p>
            <progress id="progressBar" value="0" max="100" style="display:none;"></progress>
            <p>Encrypted Message: <span id="encrypted_message" class="message"></span></p>
            <p>Key: <span id="key"></span></p>
            <button onclick="Copy_text('encrypted_message')">Copy Message</button>
            <button onclick="Copy_text('key')">Copy Key</button>
            <button onclick="Create_txt_file('encrypted_message')">Download Encrypted Message/Data</button>
            <button onclick="reset_file()">Reset Data</button>
            
        </div>

        <div id="decryption" class="Processor">
            <div class="InOutPut">
                <h2>Decrypt</h2>
                <label for="decrypt_message_file" class="File_upload">Upload Encrypted File</label>
                <input type="file" id="decrypt_message_file" placeholder="Upload encrypted message" accept=".endec"></br>
                <textarea class="text_input"id="decrypt_message" placeholder="Enter encrypted message"></textarea><br>
                <input class="text_input" id="decrypt_key" placeholder="Enter the key"><br>
                <input type="password" class="text_input" id="password_to_decrypte" placeholder="Enter the password"><br>
                <button onclick="decryptMessage()">Decrypt</button>
            </div>
            <p>Decrypted Message: <span id="decrypted_message" class="message"></span></p>
            <button id="download_decrypt"onclick="Create_txt_file('decrypted_message')">Download decrypted Message/Data</button>
        </div>
        <div id="Option_button">
            
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
        
</body>

</html>